<input type="text" [(ngModel)]="title" />
{{ title }}
<h1 innerText="{{ title }}"></h1>
<div *ngIf="title === 'Alonso'">este es un curso de Angular</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Nilton'">este es Nilton</p>
  <p *ngSwitchCase="'Pedro'">este es Pedro</p>
  <p *ngSwitchCase="'Carlos'">este es Carlos</p>
  <p *ngSwitchDefault>no hay mach</p>
</div>

<input type="text" [(ngModel)]="edad" />
<div *ngIf="edad == 26">esta es la edad de: {{ title }}</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let nombre of items; index as y">
    {{ nombre }} {{ y }}
    <button (click)="deleteItem(y)">delete</button>
  </li>
</ul>

<div *ngFor="let producto of products">
  {{ producto.title }}
  <img [src]="producto.image" alt="" />
  {{ producto.price }}
</div>
